<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        
        <%= @ad.name %>
      </h1>
      <div>
      	Duration <%= @ad.duration %>
      </div>
      <div>
      	URL <%= @ad.URL %>
      </div>
      <div>
      	Categories:
      	<% for i in 0..(@ad.categories.size-1) %>
	  		<% if i == (@ad.categories.size-1) %>
	  			<%= @ad.categories[i].name %> 
	  		<% else %>
	  			<%= @ad.categories[i].name %> , 
	  		<% end %>
  		<% end %>
      </div>
      
    </td>
    
  </tr>
</table>