
  <h1>Sample App</h1>


  <p>
    This is the home page for the
    <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </p>
  
  <%=link_to "Playlists", "/playlists/index"%>
  <%=link_to "Ads", "/ads/index"%>
  <%=link_to "Categories", "/categories/index"%>
  <%=link_to "Proxies", "/proxies/index"%>
  <%=link_to "Live Streams", "/live_streams"%>
